@using DataAccessLogic.DatabaseModels

@model List<Order>

@{
    ViewData["Title"] = "Список покупок";
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-lg-2">
    @foreach (Order order in Model)
    {
        <div class="col">
            <div class="card h-100  item-card">
                <a><img src="@order.Item.PhotoSrc" class="card-img-top item-card-img list-lot " alt="..."></a>
                <div class="card-body">
                    <a class="auction-link" asp-action="OpenItem" asp-controller="User" asp-route-id="@order.Item.Id">
                        <h5 class="card-title">@order.Item.Name</h5>
                    </a>
                </div>
            </div>
        </div>
    }
</div>