@using DataAccessLogic.DatabaseModels

@model Item

<div class="col">
    <div class="card h-100 item-card bg-danger">
        <div class="card-header text-center bg-danger"><h5 class="py-0 my-0">Отклонен</h5></div>
        <img src="@Model.PhotoSrc" class="card-img-top item-card-img list-lot" alt="...">
        <div class="card-body">
            <a class="auction-link" asp-action="EditItem" asp-controller="User" asp-route-id="@Model.Id">
                <h5 class="card-title">@Model.Name</h5>
            </a>
        </div>
        <div class="card-footer border-top-0 bg-danger">
            <a asp-action="EditItem" asp-controller="User" asp-route-id="@Model.Id" id="Edit" class=" my-2 btn btn-lg btn-dark  d-block">Редактировать</a>
        </div>
    </div>
</div>
